<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1-0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet" />
    <style>
        body {
            padding: 0px;
            margin: 0px auto;
            width: 650px;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
            padding: 40px;
            background-color: #e5e5e5;
        }
    </style>
</head>

<body>
    <div style="background-color: #fff;width: 650px;">
        <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <td>
                        <table role="presentation" border="0" bgcolor="#FCE0E3" cellspacing="0" cellpadding="0"
                            width="100%" style="padding: 15px 0px 45px;">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle">
                                        <img style=" max-width: 45px;"
                                            src="https://bcoder-dev-bucket.s3.ap-south-1.amazonaws.com/beauty-spot/7eb58b26af4424599dd1688ce5d8c0c3070b3652.png"
                                            width="100%" alt="">
                                    </td>
                                    <td align="center" style="font-size: 14px;
                                color: #61373F; line-height: 25px; padding-top: 25px;">Empowering you with knowledge
                                        and expertise to<br>make a
                                        difference</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="background-color:#fff;">
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table role="presentation" border="0" cellspacing="0" cellpadding="0"
                                                width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="padding: 30px 30px 30px;vertical-align: middle;font-size: 20px;line-height: 30px;font-weight: 400;color: #5C656C;text-decoration: underline; font-family: 'Poppins';">
                                                            Hi John Deo,</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%"
                                style="padding-left:15px; max-width: 580px;margin: 0 auto; background: transparent linear-gradient(116deg, #FCE0E3 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;">
                                <tbody>
                                    <tr>
                                        <td style="width: 70%;">
                                            <h3 style="margin: -30px 0px 0px;
                                        font-size: 27px;
                                        color: #323232;
                                        vertical-align: top;">Welcome to Beauty Spot</h3>
                                            <p style=" font-size: 12px; color: #5C656C;line-height: 21px;">We are
                                                excited to have you get started. First you need to confirm your email
                                                with enter the verification code below :</p>
                                            <p
                                                style=" font-size: 12px; color: #5C656C;line-height: 21px; padding-top: 20px;">
                                                Here is the Verification Code :</p>
                                            <span style="    width: 15px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #61373F;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 9px;
    color: #61373F;
    font-family: 'poppins';
    display: inline-block;
    padding-top: 10px;
    " type="text" name="" id="">2</span>
                                            <span style="    width: 15px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #61373F;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 9px;
    color: #61373F;
    font-family: 'poppins';
    display: inline-block;
    padding-top: 10px;
    " type="text" name="" id="">5</span>
                                            <span style="    width: 15px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #61373F;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 9px;
    color: #61373F;
    font-family: 'poppins';
    display: inline-block;
    padding-top: 10px;
    " type="text" name="" id="">6</span>
                                            <span style="    width: 15px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #61373F;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-right: 9px;
    color: #61373F;
    font-family: 'poppins';
    display: inline-block;
    padding-top: 10px;
    " type="text" name="" id="">8</span>
                                            <p style="font-size: 12px;
    color: #5C656C;
    line-height: 21px;"> If you already a member of Beauty Spot, you can simply ignore this email.</p>
                                        </td>
                                        <td style="width: 30%;">
                                            <img style="max-width: 200px;padding: 65px 0px 35px;"
                                                src="https://bcoder-dev-bucket.s3.ap-south-1.amazonaws.com/beauty-spot/20bb265db676f0a2830b9b914d551eb7ceb6eec6.png"
                                                alt="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="padding:40px 0px 28px 0px">
                                        <table role="presentation" border="0" cellspacing="0" cellpadding="0"
                                            width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding: 0px 20px 20px 20px;
                                                    font-family: Poppins; font-size: 14px;  color: #5C656C; font-weight: 400;
                                                    line-height: 16px;">
                                                        Install the application and Join Us :
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <div
                                                            style="display: inline-block; width: 100%;max-width: 200px;text-align: center;">
                                                            <img src="https://bcoder-dev-bucket.s3.ap-south-1.amazonaws.com/beauty-spot/eb0f822f29321e3b87b6c8dd11c32c4cd3613b0e.png"
                                                                width="100%" alt="" style="    margin-left: 50px;">
                                                        </div>
                                                        <div
                                                            style="    display: inline-block; width: 100%;  max-width: 200px;text-align: center;">
                                                            <img src="https://bcoder-dev-bucket.s3.ap-south-1.amazonaws.com/beauty-spot/c729917022b9fd0ab4481e8d0b8b9fa9c90a9ccc.png"
                                                                width="100%" alt="">
                                                        </div>
                                                    </td>

                                                </tr>


                                                <tr>
                                                    <td align="center" style="padding: 0px 20px 0px 20px;
                                            font-family: Poppins; font-size: 14px;  color: #5C656C; font-weight: 600;
                                            line-height: 16px;">
                                                        - Beauty Spot
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td align="center" style="font-size:12px; font-weight:400; font-family:Poppins;color:#5C656C;padding:50px  113px 50px 113px; line-height:1.6; background:#FCE0E3;
                                        text-align: center;">
                                        Terms & Conditions | Privacy Policy<br>
                                        email because you are subscribed to. If you don't want to hear
                                        from<br> us, unsubscribe.<br><br>
                                        Need assistance? Email us at Beauty Spot@gmail.com
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>